

    <footer class="p-5 section5">
        Important Links of our resources & information -

        <div class="row mt-4">
            <div class="col-md-5">
                <ul>
                    <li> Programming Tools <hr class="anyhr"></li>

                    <li>Online IDE</li>
                    <li>Upcoming Coding Contests</li>
                    <li>Host Your Contest</li>
                    <li>Problem Setting</li>
                </ul>
            </div>
            <div class="col-md-5">
                <ul>
                    <li> Learning Resources <hr class="anyhr"></li>
                    <li>Getting StartedE</li>
                    <li>Practice Problemss</li>
                    <li>CodeChef Discusst</li>
                    <li>FAQ's</li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li> More <hr class="anyhr"></li>
                    <li>CodeChef For Business</li>
                    <li>Contact Us</li>
                    <li>Code Of Conduct</li>
                    <li>User Ranklist</li>
                    <li>Privacy policy</li>
                    <li>Terms</li>
                </ul>
            </div>
        </div>

        <div class="mt-4 rounded-2 p-2">
            <p class="d-inline ">www.codechef.com</p>
            <div class="float-end">
                Follow us
                <i class="fa-brands fa-youtube text-danger mx-2"></i>
                <i class="fa-brands fa-telegram mx-2"></i>
                <i class="fa-brands fa-facebook mx-2"></i>
                <i class="fa-brands fa-instagram mx-2"></i>
                <i class="fa-brands fa-twitter mx-2"></i>
                <i class="fa-brands fa-linkedin mx-2"></i>
                <i class="fa-brands fa-quora mx-2"></i>
            </div>
        </div>
        
    </footer>

</body>
</html>