

<%- include("header"); %>


<section class="learnsection p-3">
    <p class="mt-3">Home>Learn</p>

    <h4>Learn</h4>
    <p>Choose from a range of learning paths based on your rating or goal.</p>

</section>

<section class="p-3 learnsection2">
    <h4>Learning Paths</h4>
    <hr class="anyhr">

    <div class="d-flex flex-auto ">
        <div class="card d-flex flex-column mx-4">
            <div class="bg-secondary text-light text-center justify-content-center" style="width: 250px; height: 150px;">
                <h3>0⭐ to 1⭐</h3>
            </div>
            <div class="p-2">
                Getting Started on CodeChef
                <div class="">
                    <div class="text">
                        <i class="fa-solid fa-book"></i> 1 Topic
                    </div>
                    <div class="text">
                        <i class="fa-solid fa-bars"></i> 12 Problems
                    </div>
                    <div class="text">
                        <i class="fa-solid fa-bullseye"></i></i>Target 2 problems daily
                    </div>
                </div>
            </div>
        </div>

        <div class="card d-flex flex-column mx-4">
            <div class="bg-secondary text-light text-center justify-content-center" style="width: 250px; height: 150px;">
                <h3>1⭐ to 2⭐</h3>
            </div>
            <div class="p-2">
                Getting Started on CodeChef
                <div class="">
                    <div class="text">
                        <i class="fa-solid fa-book"></i> 1 Topic
                    </div>
                    <div class="text">
                        <i class="fa-solid fa-bars"></i> 12 Problems
                    </div>
                    <div class="text">
                        <i class="fa-solid fa-bullseye"></i></i>Target 2 problems daily
                    </div>
                </div>
            </div>
        </div>

        <div class="card d-flex flex-column mx-4">
            <div class="bg-secondary text-light text-center justify-content-center" style="width: 250px; height: 150px;">
                <h3>2⭐ to 3⭐</h3>
            </div>
            <div class="p-2">
                Getting Started on CodeChef
                <div class="">
                    <div class="text">
                        <i class="fa-solid fa-book"></i> 1 Topic
                    </div>
                    <div class="text">
                        <i class="fa-solid fa-bars"></i> 12 Problems
                    </div>
                    <div class="text">
                        <i class="fa-solid fa-bullseye"></i></i>Target 2 problems daily
                    </div>
                </div>
            </div>
        </div>

        <div class="card d-flex flex-column mx-4">
            <div class="bg-secondary text-light text-center justify-content-center" style="width: 250px; height: 150px;">
                <h3>3⭐ to 4⭐</h3>
            </div>
            <div class="p-2">
                Getting Started on CodeChef
                <div class="">
                    <div class="text">
                        <i class="fa-solid fa-book"></i> 1 Topic
                    </div>
                    <div class="text">
                        <i class="fa-solid fa-bars"></i> 12 Problems
                    </div>
                    <div class="text">
                        <i class="fa-solid fa-bullseye"></i></i>Target 2 problems daily
                    </div>
                </div>
            </div>
        </div>

    </div>


    <h4 class="mt-4">Practice Topics</h4>
    <hr class="anyhr">

    <div class="d-flex flex-auto flex-wrap">
            
        <div class="card d-flex flex-column mx-3">
            <div class="bg-secondary text-light text-center justify-content-center p-3" style="width: 250px; height: 150px;">
                <h3>Basic Programming</h3>
            </div>
            <div class="p-3">
                Coming Soon
            </div>
        </div>
        <div class="card d-flex flex-column mx-3">
            <div class="bg-secondary text-light text-center justify-content-center p-3" style="width: 250px; height: 150px;">
                <h3>Arrays</h3>
            </div>
            <div class="p-3">
                Coming Soon
            </div>
        </div>
        <div class="card d-flex flex-column mx-3">
            <div class="bg-secondary text-light text-center justify-content-center p-3" style="width: 250px; height: 150px;">
                <h3>strings</h3>
            </div>
            <div class="p-3">
                Coming Soon
            </div>
        </div>
        <div class="card d-flex flex-column mx-3">
            <div class="bg-secondary text-light text-center justify-content-center p-3" style="width: 250px; height: 150px;">
                <h3>Dynamic Programming</h3>
            </div>
            <div class="p-3">
                Coming Soon
            </div>
        </div>
        <div class="card d-flex flex-column mx-3">
            <div class="bg-secondary text-light text-center justify-content-center p-3" style="width: 250px; height: 150px;">
                <h3>Hashmap</h3>
            </div>
            <div class="p-3">
                Coming Soon
            </div>
        </div>
        <div class="card d-flex flex-column mx-3">
            <div class="bg-secondary text-light text-center justify-content-center p-3" style="width: 250px; height: 150px;">
                <h3>Greedy Algorithmn</h3>
            </div>
            <div class="p-3">
                Coming Soon
            </div>
        </div>
        <div class="card d-flex flex-column mx-3">
            <div class="bg-secondary text-light text-center justify-content-center p-3" style="width: 250px; height: 150px;">
                <h3>Segment Trees</h3>
            </div>
            <div class="p-3">
                Coming Soon
            </div>
        </div>
        <div class="card d-flex flex-column mx-3">
            <div class="bg-secondary text-light text-center justify-content-center p-3" style="width: 250px; height: 150px;">
                <h3>Graphs</h3>
            </div>
            <div class="p-3">
                Coming Soon
            </div>
        </div>

        <div class="card d-flex flex-column mx-3">
            <div class="bg-secondary text-light text-center justify-content-center p-3" style="width: 250px; height: 150px;">
                <h3>Sorting</h3>
            </div>
            <div class="p-3">
                Coming Soon
            </div>
        </div>
        <div class="card d-flex flex-column mx-3">
            <div class="bg-secondary text-light text-center justify-content-center p-3" style="width: 250px; height: 150px;">
                <h3>Binary Search</h3>
            </div>
            <div class="p-3">
                Coming Soon
            </div>
        </div>
    </div>


</section>


<%- include("footer"); %>
