
<%- include("header"); %>

<section class="p-2">
    <div class="p-2 d-flex">
        <div class="p-2 mx-1">
            <h2>Practice</h2>
            <p>This is the place to hone your skills</p>
        </div>

        <div class="d-flex flex-column p-2 shadow-sm mx-1 bg-light" style="width: 500px; height: 200px;">
            <p>Popular Topics</p>
            <div class="d-flex flex-row mt-1">
                <div class="p-1 mx-1">
                    <p>Math</p>
                    <p>1967 Problem</p>
                </div>
                <div class="p-1 mx-1">
                    <p>Data Structure</p>
                    <p>1451 Problem</p>
                </div>
                <div class="p-1 mx-1">
                    <p>Dynamic Programming</p>
                    <p>631 Problem</p>
                </div>
            </div>

            <hr class="mt-1">
            <h4 class="text-primary mt-2">See More -></h4>
        </div>

        <div class="p-3 rounded mx-1 bg-secondary tohover" style="height: fit-content; width: 300px;">
            <h4>Learning Paths</h4>

            <p>Structure topic-wise focus on learning with hand picked problem. </p>

            <h4 class="mt-5 ">View -></h4>
        </div>

        <div class="d-flex flex-column mx-1 " >
            <div class="p-2 rounded my-1  bg-secondary tohover">
                <h4>1v1 Games</h4>
                <p>Play challenges and puzzles</p>
            </div>
            <div class="p-2 rounded my-1  bg-secondary tohover">
                <h4>Upcoming Contest</h4>
                <p>Starters 70</p>
            </div>
        </div>
    </div>
</section>


<%- include("footer"); %>